
@import "./navbar.css";


.aboutus{
    display: flex;
    width: auto;
    justify-content: center;
    height: 40px;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    
}
.aboutus::before{
    content:"";
    display: block;
    width: 550px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    top:85px;
}
.aboutus::after{
    content:"";
    display: block;
    width: 550px;
    height: 1px;
    background: #000;
    position: absolute;
    right: 0;
    top:85px;
}
.ino{
    display: flex;
    justify-content: center;
    font-size: larger;
}
.infos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    gap: 400px;
}
.info1{
    background-color: rgba(202, 203, 204, 1);
    width: 3000px;
    height: 95px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.info2{
    background-color: rgba(202, 203, 204, 1);
    width: 3000px;
    height: 95px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.infos2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    gap: 400px;
}
.info3{
    background-color: rgba(202, 203, 204, 1);
    width: 3000px;
    height: 95px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.info4{
    background-color: rgba(202, 203, 204, 1);
    width: 3000px;
    height: 95px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.Quote{
    display: flex;
    width: auto;
    justify-content: center;
    height: 40px;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    
}
.Quote::before{
    content:"";
    display: block;
    width: 485px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    top:481px;
}
.Quote::after{
    content:"";
    display: block;
    width: 485px;
    height: 1px;
    background: #000;
    position: absolute;
    right: 0;
    top:481px;
}