
@import "./navbar.css";
body{
    background-color: rgba(10, 12, 38, 1);
}
.aboutus{
    display: flex;
    width: auto;
    justify-content: center;
    color: white;
    height: 40px;
    margin-top: 30px;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    
}
.aboutus::before{
    content:"";
    display: block;
    width: 380px;
    height: 1px;
    background: white;
    position: absolute;
    left: 130px;
    top:110px;
}
.aboutus::after{
    content:"";
    display: block;
    width: 380px;
    height: 1px;
    background: white;
    position: absolute;
    right: 130px;
    top:110px;
}
.ino{
    display: flex;
    justify-content: center;
    font-size: larger;
    color:white;
    font-family: 'Comfortaa', cursive;
}

.infos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    gap: 400px;
}
.info1{
    width: 135px;
    height: 130px;
    background-image: url("../images/profilepicturev2.jpg");
    background-size: cover;
    justify-content: center;
    border-radius: 200px;
    text-align: center;
    transition: 0.2s;
}
.infos3{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    gap: 150px;
    margin-top: -10px;
}
.info2{
   background-image: url("../images/profilepicturev2\ \(2\).jpg");
    background-size:cover ;
    justify-content: center;
    width: 135px;
    height: 130px;
    border-radius: 200px;
    text-align: center;
    color: white;
    transition: 0.2s;
}

.infos2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    gap: 100px;
    margin-top: -20px;
}
.info3{
    background-image: url("../images/profilepicturev2\ \(1\).jpg");
    background-size: cover;
    width: 135px;
    height: 130px;
    border-radius: 200px;
    text-align: center;
    color: white;
    transition: 0.2s;
}
.info4{
    background-image: url("../images/055b5652-706e-4f8e-87b2-a820b5a37480.jpg");
    background-size: cover;
    width: 135px;
    height: 130px;
    border-radius: 200px;
    text-align: center;
    color: white;
    transition: 0.2s;
}
.Quote{
    display: flex;
    width: auto;
    justify-content: center;
    align-content: center;
    color: white;
    height: 40px;
    margin-top: 30px;
    font-family: 'Comfortaa', cursive;
     font-size: 22px;
    
}
.Quote::before{
    content:"";
    display: block;
    width: 380px;
    height: 1px;
    background: white;
    position: absolute;
    left: 50px;
    top:610px;
}
.Quote::after{
    content:"";
    display: block;
    width: 380px;
    height: 1px;
    background: white;
    position: absolute;
    right: 50px;
    top:610px;
    justify-content: center;
}


.info1:hover{
    transform: scale(1.15);
    box-shadow: 15px 10px 15px black;   
    -moz-box-shadow: inset 10px 10px 100px #000000;
    -webkit-box-shadow: inset 10px 10px 100px #000000;
}
.info2:hover{
    transform: scale(1.15);
    box-shadow: 15px 10px 15px black;
    -moz-box-shadow: inset 10px 10px 100px #000000;
    -webkit-box-shadow: inset 10px 10px 100px #000000;
}
.info3:hover{
    transform: scale(1.15);
    box-shadow: 15px 10px 15px black;
    -moz-box-shadow: inset 10px 10px 100px #000000;
    -webkit-box-shadow: inset 10px 10px 100px #000000;
}
.info4:hover{
    transform: scale(1.15);
    box-shadow: 15px 10px 15px black;
    -moz-box-shadow: inset 10px 10px 100px #000000;
    -webkit-box-shadow: inset 10px 10px 100px #000000;
}
.info1::before{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    content:"Perla Hristova";
    opacity: 0;
    color: white;
}
.info1:hover:before{

    opacity: 1;
}
.info1::after{
    display: flex;
    justify-content: center;
    
    content:"Scrum";
    opacity: 0;
    color: white;
}
.info1:hover:after{

    opacity: 1;
}
.info2::before{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    content:"Nedqlko Libchev";
    opacity: 0;
    color: white;
}
.info2:hover:before{

    opacity: 1;
}
.info2::after{
    display: flex;
    justify-content: center;
    
    content:"Designer";
    opacity: 0;
    color: white;
}
.info2:hover:after{

    opacity: 1;
}
.info3::before{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    content:"Lychezar Rashkov";
    opacity: 0;
    color: white;
}
.info3:hover:before{

    opacity: 1;
}
.info3::after{
    display: flex;
    justify-content: center;
    
    content:"Font-End";
    opacity: 0;
    color: white;
}
.info3:hover:after{

    opacity: 1;
}
.info4::before{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    content:"Simeon Stefanov";
    opacity: 0;
    color: white;
}
.info4:hover:before{

    opacity: 1;
}
.info4::after{
    display: flex;
    justify-content: center;
    
    content:"Font-End";
    opacity: 0;
    color: white;
}
.info4:hover:after{
    opacity: 1;
}




