@import url(../styles/navbar.css);
.bgimg-faq {
  background-image: url(../images/Group\ 12.png);
  background-position: no-repeat;
}
.industrial {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
.in {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}
.in p {
  margin-top: 10px;
}
.industrial h1 {
  font-weight: 100;
  margin-left: 0px;
}
.Images {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
.intext-1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-left: -30px;
  text-align: center;
  color: #41c5fa;
}
.intext-2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  margin-left: 0px;
  color: #41c5fa;
}
.intext-3 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-left: -10px;
  text-align: center;
  color: #41c5fa;
}
.intext2-1 {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 20px;
  margin-left: -20px;
  text-align: center;
  margin-top: 20px;
}
.intext2-2 {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.intext2-3 {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-left: -10px;
}
#ind-img1-bg img{
margin-left: 40px;
}
#ind-img2-bg img{
  margin-left: 38px;
}
#ind-img3-bg img{
  margin-left: 45px;
}
.mini {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  margin-left: 0px;
}
.drop-menu {
  width: 150px;
}
#DropDown {
  display: none;
  user-select: none;
}
#DropDown:checked ~ .Drop {
  top: 60px;
  opacity: 1;
  pointer-events: all;
}
.Drop {
  display: table-column;
  pointer-events: none;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 70px;
  margin-left: 20px;
  position: absolute;
  top: 15px;
  border-radius: 5px;
  transition: 0.2s;
  opacity: 0;
  cursor: pointer;
}
