@import url(./navbar.css);
body{
    background-color: #181A1B;
    color:white;
}
.triple{
    display: flex;
    height:800px;
    width: 100% ;
    gap: 60px;
    margin-left: -25px;
    justify-content: center;
}
.triple1 img{ 
    margin-top: 100px;
    margin-left: 30px;  
    width: 1050px;
    height: 600px; 
    border-radius: 10px; 
}
.triple2{
    margin-top:100px;
    
}
.triple2 img{
    width: 333px;
    height: 283px;
    border-radius: 10px; 
}
.triple2-2{
    margin-top: 30px;
}
.RoboticsNews{
    display: flex;
    margin-top: -20px;
    margin-left: 70px; 
    width: 1050px;
    height: 80px;
    background-color: black;
}
.RoboticsNews1{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 30px;
    width: 1050px;
}
.RoboticsNews2{
    margin-top: 80px;
    margin-left: -1078px;
    width: 1050px;
    height: 10px;
    background-color: rgb(10, 55, 87) ;
}
.latestnews-all-section{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    padding: 45px 20px;
}
.latestnews-all-section img {
    max-width: 300px;
    max-height: 300px;  
    border-radius: 10px;
    margin-left: 30px;
    border: 1px outset;
    padding: 20px;    
}
.latestnews-text-section > a{
    font-size: 27px;
}
.latestnews-text-section > p{
    font-size: 27px;
}
.latestnews-section{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
#latestnews-text-color{
    color: #C9C4BD;
}
#latestnews-text-color:hover{
color: #A73033;
}
.latestnews-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    padding-left: 20px;
    gap: 12px;
    background-color: #30394444;
    border-radius: 5px;
}
#latestnews-text-bold{
    font-weight: bold;
}
#latestnews-text-color-1{
    color: #C9C4BD;
}
@media (width < 1500px){
    .img-text, .img-text2, .img-text3, .img-text4{
        display: flex;
        flex-direction: column;
        gap: 60px;
        justify-content: center;
        align-items: center;
    }

    .RoboticsNews{
        width: 300px;
    }

    .RoboticsNews2{
        width: 300px;
    }

    body{
        overflow-x: hidden;
    }

    .triple2{
        display: none;
    }
}