@import "./navbar.css";
@import "./home.css";
@import "./AboutUs.css";
@import url(./scrollbar.css);
@import url(faq.css);
@import url(./functionscrool.css);
@import url(./industrial.css);
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Comfortaa;
}
